/SmartDisplay/.venv
/SmartDisplay/assets/images
/SmartDisplay/assets/image_cache
/SmartDisplay/__pycache__
/SmartDisplay/assets/secrets.json
SmartDisplay/alarms.db
SmartDisplay/assets/spotify_token.json
/SmartDisplay/assets/photo_links.txt
SmartDisplay/assets/photo_links.txt
